<a href="https://colab.research.google.com/github/Mahiyan-Khan-Abir/Heart-Failure-Prediction/blob/main/Heart_Failure_Prediction_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [64]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Heart/heart_failure_clinical_records_dataset.csv")
print(df)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]

**Finding whather there is any missing value in the tuples**

In [65]:
#Finding missing data
df1 = pd.DataFrame(df)
df1.isnull()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,False,False,False,False,False,False,False,False,False,False,False,False,False
295,False,False,False,False,False,False,False,False,False,False,False,False,False
296,False,False,False,False,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,False,False,False,False,False,False,False,False
298,False,False,False,False,False,False,False,False,False,False,False,False,False

**Finding correlation among dependent and independent variables**

In [66]:
#Correlation
import matplotlib.pyplot as plt
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', axis=None)

**Assigning the dependent and independent variables**

In [67]:
x= df.iloc[:, [0,1,2,4,5,6,7,8,11]].values  
y= df.iloc[:, 12].values  
#print(x)


**Splitting the dataset into training and test set**

In [68]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

**feature Scaling**

In [69]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

**Fitting Logistic Regression to the training set**

In [70]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [71]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,  
                   intercept_scaling=1, l1_ratio=None, max_iter=100,  
                   multi_class='warn', n_jobs=None, penalty='l2',  
                   random_state=0, solver='warn', tol=0.0001, verbose=0,  
                   warm_start=False)

LogisticRegression(multi_class='warn', random_state=0, solver='warn')

**Predicting the test set result**

In [72]:
 y_pred= classifier.predict(x_test)

**Creating the Confusion matrix**

In [73]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred) 
print(cm)

[[45  3]
 [12 15]]

**Precision and F1 score**

In [74]:
y_score = classifier.score(x_test, y_pred)
print('Precision: ', y_score)

Precision:  1.0

In [75]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average=None)

array([0.85714286, 0.66666667])

**Linear regression**

In [76]:
from sklearn import linear_model


x= df.iloc[:, [0,1,2,4,5,6,7,8,11]].values  
y= df.iloc[:, 12].values 


regr = linear_model.LinearRegression()
regr.fit(x, y)
model = regr.fit(x, y)

predictedCO2 = regr.predict(x_test)

r2_score = regr.score(x,y)

Model_score = model.score(x, y)

print("r2_score    :  ", r2_score*100,'%')
print("\n intercept   :  ",model.intercept_)
print("\n coefficients:  ",regr.coef_)
print("\n Model_score :  ",Model_score)

r2_score    :   41.171492624470964 %

 intercept   :   1.6619586192312168

 coefficients:   [ 5.46284657e-03  3.58997734e-03  3.24122177e-05 -9.45083849e-03
 -7.53336823e-03 -4.08087913e-08  8.51718550e-02 -7.93934083e-03
 -2.72000973e-03]

 Model_score :   0.4117149262447096